In [1]:
from statsbombpy import sb
import pandas as pd

In [2]:
comps = sb.competitions()

credentials were not supplied. open data access only

I'm looking for a specific competition that will be interesting. I'm an Arsenal fan and interested in more recent seasons and competitions.

In [3]:
comps.tail()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
35,11,37,Spain,La Liga,male,False,False,2004/2005,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
36,49,3,United States of America,NWSL,female,False,False,2018,2021-11-06T05:53:29.435016,2021-06-13T16:17:31.694,None,2021-11-06T05:53:29.435016
37,2,44,England,Premier League,male,False,False,2003/2004,2021-11-14T22:29:00.646120,2021-06-13T16:17:31.694,None,2021-11-14T22:29:00.646120
38,55,43,Europe,UEFA Euro,male,False,True,2020,2021-11-11T14:00:16.105809,2021-11-11T13:54:37.507376,2021-11-11T13:54:37.507376,2021-11-11T14:00:16.105809
39,72,30,International,Women's World Cup,female,False,True,2019,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00

Time to go ahead with the most recent Euro. I really enjoyed the Italy team's play during that competition.

Some questions I'll aim to address:
Let me try to build a pass map for each player on the Italian team during a specific game of theirs.

In [4]:
euro = sb.matches(competition_id = 55, season_id=43)
euro.head()

credentials were not supplied. open data access only

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,...,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
0,3788753,2021-06-16,15:00:00.000,Europe - UEFA Euro,2020,Finland,Russia,0,1,available,...,2021-09-22T16:39:05.697512,2,Group Stage,Saint-Petersburg Stadium,Danny Desmond Makkelie,Markku Kanerva,Stanislav Cherchesov,1.1.0,2,2
1,3788765,2021-06-20,18:00:00.000,Europe - UEFA Euro,2020,Switzerland,Turkey,3,1,available,...,2021-11-11T13:54:37.507376,3,Group Stage,Bakı Olimpiya Stadionu,Slavko Vinčić,Vladimir Petković,Şenol Güneş,1.1.0,2,2
2,3795107,2021-07-02,21:00:00.000,Europe - UEFA Euro,2020,Belgium,Italy,1,2,available,...,2021-09-23T00:02:51.495862,5,Quarter-finals,Allianz Arena,Slavko Vinčić,Roberto Martínez Montoliú,Roberto Mancini,1.1.0,2,2
3,3795221,2021-07-07,21:00:00.000,Europe - UEFA Euro,2020,England,Denmark,2,1,available,...,2021-09-22T22:33:37.494366,6,Semi-finals,Wembley Stadium (London),Danny Desmond Makkelie,Gareth Southgate,Kasper Hjulmand,1.1.0,2,2
4,3795506,2021-07-11,21:00:00.000,Europe - UEFA Euro,2020,Italy,England,1,1,available,...,2021-09-22T22:40:31.690550,7,Final,Wembley Stadium (London),Björn Kuipers,Roberto Mancini,Gareth Southgate,1.1.0,2,2

In [5]:
df = pd.DataFrame.from_dict(euro)
df['home_team'].value_counts()

Italy              5
England            4
Netherlands        3
Belgium            3
Sweden             3
Croatia            3
Ukraine            3
France             2
Spain              2
Turkey             2
Portugal           2
Wales              2
Finland            2
Switzerland        2
Denmark            2
Hungary            2
Czech Republic     2
Russia             1
Germany            1
Austria            1
North Macedonia    1
Poland             1
Scotland           1
Slovakia           1
Name: home_team, dtype: int64

In [6]:
filt = (df['home_team'] == 'Italy') | (df['away_team'] == 'Italy')

In [7]:
ITAdf = df[filt]
ITAgames = list(ITAdf['match_id'])

ITAdf

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,...,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
2,3795107,2021-07-02,21:00:00.000,Europe - UEFA Euro,2020,Belgium,Italy,1,2,available,...,2021-09-23T00:02:51.495862,5,Quarter-finals,Allianz Arena,Slavko Vinčić,Roberto Martínez Montoliú,Roberto Mancini,1.1.0,2,2
4,3795506,2021-07-11,21:00:00.000,Europe - UEFA Euro,2020,Italy,England,1,1,available,...,2021-09-22T22:40:31.690550,7,Final,Wembley Stadium (London),Björn Kuipers,Roberto Mancini,Gareth Southgate,1.1.0,2,2
9,3794685,2021-06-26,21:00:00.000,Europe - UEFA Euro,2020,Italy,Austria,2,1,available,...,2021-09-22T16:40:41.310001,4,Round of 16,Wembley Stadium (London),Anthony Taylor,Roberto Mancini,Franco Foda,1.1.0,2,2
27,3788766,2021-06-20,18:00:00.000,Europe - UEFA Euro,2020,Italy,Wales,1,0,available,...,2021-09-22T16:40:03.894292,3,Group Stage,Stadio Olimpico (Roma),Ovidiu Alin Hațegan,,,1.1.0,2,2
28,3788754,2021-06-16,21:00:00.000,Europe - UEFA Euro,2020,Italy,Switzerland,3,0,available,...,2021-09-22T16:39:11.835841,2,Group Stage,Stadio Olimpico (Roma),Sergey Karasev,Roberto Mancini,Vladimir Petković,1.1.0,2,2
34,3788741,2021-06-11,21:00:00.000,Europe - UEFA Euro,2020,Turkey,Italy,0,3,available,...,2021-09-22T16:38:05.059090,1,Group Stage,Stadio Olimpico (Roma),Danny Desmond Makkelie,Şenol Güneş,Roberto Mancini,1.1.0,2,2
35,3795220,2021-07-06,21:00:00.000,Europe - UEFA Euro,2020,Italy,Spain,1,1,available,...,2021-09-22T22:25:01.866198,6,Semi-finals,Wembley Stadium (London),Felix Brych,Roberto Mancini,Luis Enrique Martínez García,1.1.0,2,2

Obviously the final can be interesting. Let's analyze that one.

In [8]:
final_match_id=ITAdf.iloc[1]['match_id']

In [9]:
events = sb.events(match_id=final_match_id, split=True, flatten_attrs=False)
#I don't fully understand events at this point but I am following the statsbombpy github repo.
events.keys()
#let me try to find what kinds of events exist i.e. what are the columns

credentials were not supplied. open data access only

dict_keys(['starting_xis', 'half_starts', 'passes', 'ball_receipts', 'carrys', 'pressures', 'duels', 'blocks', 'interceptions', 'clearances', 'shots', 'goal_keepers', 'dribbles', 'foul_committeds', 'ball_recoverys', 'dispossesseds', 'foul_wons', 'miscontrols', 'dribbled_pasts', 'injury_stoppages', 'player_offs', 'player_ons', 'half_ends', 'substitutions', 'tactical_shifts', 'referee_ball_drops'])

Now pause to think.

If I want to create pass maps for each, I think I would need each player's name. And a summary of all their passes. but I'm not sure what the passes DataFrame looks like

In [10]:
columns = list(events['passes'].columns)
columns

['id',
 'index',
 'period',
 'timestamp',
 'minute',
 'second',
 'type',
 'possession',
 'possession_team',
 'play_pattern',
 'team',
 'player',
 'position',
 'location',
 'duration',
 'related_events',
 'pass',
 'match_id',
 'possession_team_id',
 'player_id',
 'under_pressure',
 'off_camera',
 'counterpress']

In [11]:
ITAfilt = ((events['passes']['team'])=='Italy')
ITApasses = events['passes'][ITAfilt]
ITApasses

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,location,duration,related_events,pass,match_id,possession_team_id,player_id,under_pressure,off_camera,counterpress
0,0aee931f-9614-4879-b3e8-fd9d7cc80c59,5,1,00:00:00.286,0,0,Pass,2,Italy,From Kick Off,...,"[60.0, 40.0]",0.663637,[307667b2-cc0e-4cf3-8528-ba4c86a1ba83],"{'recipient': {'id': 3166, 'name': 'Marco Verr...",3795506,914,7788,NaN,NaN,NaN
1,9440989a-b1a0-4142-9907-1c9e69559ac7,8,1,00:00:02.177,0,2,Pass,2,Italy,From Kick Off,...,"[48.0, 35.7]",1.752085,[a4d7d7f5-f0e1-4b9f-9f38-861f2d52608a],"{'recipient': {'id': 11514, 'name': 'Giovanni ...",3795506,914,3166,NaN,NaN,NaN
2,7cc5e22d-caff-46b1-8adf-fb1f3e3bdc1e,11,1,00:00:05.093,0,5,Pass,2,Italy,From Kick Off,...,"[39.2, 68.4]",2.070417,[a76f5651-8edc-49b0-91cb-4d8984aa138b],"{'recipient': {'id': 7173, 'name': 'Leonardo B...",3795506,914,11514,NaN,NaN,NaN
3,7fd4637f-c40f-4204-a286-6cdd4b18c636,14,1,00:00:08.002,0,8,Pass,2,Italy,From Kick Off,...,"[25.3, 46.4]",1.839082,[14309d21-a8ac-447d-9bbd-0b56f4d733aa],"{'recipient': {'id': 6954, 'name': 'Giorgio Ch...",3795506,914,7173,NaN,NaN,NaN
4,a06d0e3b-e76f-49b8-9512-8d4a8c25b757,17,1,00:00:10.769,0,10,Pass,2,Italy,From Kick Off,...,"[23.9, 18.6]",1.839995,[85524932-7a50-4cea-a495-29f422f95934],"{'recipient': {'id': 7173, 'name': 'Leonardo B...",3795506,914,6954,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1341,1bae5924-f24a-42f7-bfa7-a6a30f976813,4749,4,00:16:57.161,121,57,Pass,210,Italy,Regular Play,...,"[74.9, 19.1]",1.018499,[f9209752-8ba1-44b8-9a9e-454744b4acdc],"{'recipient': {'id': 7024, 'name': 'Jorge Luiz...",3795506,914,6993,NaN,NaN,NaN
1342,7c7a5e05-853f-468b-a28f-40d6f4c9e443,4752,4,00:17:00.179,122,0,Pass,210,Italy,Regular Play,...,"[78.7, 39.1]",1.782136,[2cdf6110-1df5-4f81-8e0e-197d98996460],"{'recipient': {'id': 11514, 'name': 'Giovanni ...",3795506,914,7024,NaN,NaN,NaN
1343,2ffe8b26-29e0-4971-8655-0729e2cc39d9,4755,4,00:17:04.903,122,4,Pass,210,Italy,Regular Play,...,"[96.4, 69.2]",1.042270,[0b27bcf6-95cf-4b9d-ad87-e80362fd9bb4],"{'recipient': {'id': 7131, 'name': 'Domenico B...",3795506,914,11514,NaN,NaN,NaN
1344,5eca7b2d-7039-4076-9c7f-2b9a9823daf7,4758,4,00:17:07.416,122,7,Pass,210,Italy,Regular Play,...,"[96.1, 75.7]",2.375732,[23b4e670-5ff0-4faf-9f39-3bd8e7f93a85],"{'recipient': {'id': 7471, 'name': 'Andrea Bel...",3795506,914,7131,NaN,NaN,NaN
1347,0cd7238c-08eb-4655-9cee-685b3a6599a3,4764,4,00:17:49.343,122,49,Pass,211,England,From Goal Kick,...,"[19.5, 8.3]",1.612425,"[22f76976-9167-4bc4-9ccb-66560d849b4a, bc92bd8...","{'recipient': {'id': 6993, 'name': 'Bryan Cris...",3795506,768,6964,NaN,NaN,NaN

I'm looking for the potential values in each column and see if they are even useful to me.

In [12]:
for each in columns:
    print(ITApasses[each].value_counts())

0aee931f-9614-4879-b3e8-fd9d7cc80c59    1
50dd7b87-d2de-4d60-8c33-193a8138911c    1
189bbcd9-afba-46a3-a706-e00ce506f158    1
58daff4d-8557-4151-ba56-c5a44b04a30a    1
39809077-79b7-48f7-80ae-6bd99b3af528    1
                                       ..
7ee76752-17a9-4ae1-8dcd-7fbf3aa13305    1
e67ddceb-07da-42be-9b05-db6f41acfb88    1
da8dccf3-1f9a-41d7-9edc-373e97127370    1
bcac7f95-3c46-4dcb-94b0-1984e17841a8    1
0cd7238c-08eb-4655-9cee-685b3a6599a3    1
Name: id, Length: 885, dtype: int64
5       1
3042    1
3006    1
3009    1
3013    1
       ..
1626    1
1629    1
1632    1
1635    1
4764    1
Name: index, Length: 885, dtype: int64
2    352
1    351
3    100
4     82
Name: period, dtype: int64
00:29:01.526    2
00:00:00.286    1
00:31:24.103    1
00:30:54.131    1
00:30:56.596    1
               ..
00:43:51.217    1
00:43:52.653    1
00:43:53.850    1
00:43:57.732    1
00:17:49.343    1
Name: timestamp, Length: 884, dtype: int64
94    26
93    26
48    25
31    24
76    22
      ..
1      1
99     1
50     1
4      1
38     1
Name: minute, Length: 103, dtype: int64
54    26
13    21
7     21
33    21
23    20
37    20
48    19
58    19
3     19
49    18
34    18
17    18
56    18
22    18
41    17
11    17
52    17
53    17
59    17
0     17
20    17
4     16
32    16
57    16
46    16
39    15
25    15
43    15
51    15
8     15
45    15
5     15
1     14
27    14
31    14
2     14
35    13
10    13
12    13
30    13
24    13
16    13
36    13
40    13
42    12
6     12
18    12
28    12
47    11
29    11
44    11
38    11
14    11
26    10
19     9
9      9
21     9
50     8
55     7
15     6
Name: second, dtype: int64
Pass    885
Name: type, dtype: int64
53     52
156    49
133    31
70     27
118    25
       ..
47      1
152     1
41      1
158     1
211     1
Name: possession, Length: 118, dtype: int64
Italy      856
England     29
Name: possession_team, dtype: int64
Regular Play      320
From Throw In     235
From Free Kick    135
From Goal Kick     95
From Keeper        58
From Kick Off      30
From Corner         8
From Counter        4
Name: play_pattern, dtype: int64
Italy    885
Name: team, dtype: int64
Leonardo Bonucci               130
Giorgio Chiellini              119
Marco Verratti                 119
Jorge Luiz Frello Filho        102
Giovanni Di Lorenzo             87
Emerson Palmieri dos Santos     70
Lorenzo Insigne                 64
Gianluigi Donnarumma            34
Nicolò Barella                  33
Bryan Cristante                 31
Federico Chiesa                 22
Domenico Berardi                21
Ciro Immobile                   20
Federico Bernardeschi           12
Manuel Locatelli                 8
Alessandro Florenzi              8
Andrea Belotti                   5
Name: player, dtype: int64
Right Center Back            130
Left Center Midfield         127
Left Center Back             119
Center Defensive Midfield    102
Right Back                    87
Left Back                     78
Right Center Midfield         64
Left Wing                     62
Center Forward                47
Right Wing                    35
Goalkeeper                    34
Name: position, dtype: int64
[6.0, 36.0]      3
[60.0, 40.0]     2
[120.0, 80.0]    2
[75.8, 66.3]     2
[7.0, 44.1]      2
                ..
[35.2, 42.7]     1
[48.3, 35.9]     1
[52.1, 40.0]     1
[118.1, 6.9]     1
[19.5, 8.3]      1
Name: location, Length: 876, dtype: int64
1.240000    13
1.200000    10
1.600000    10
1.280000     9
1.639999     8
            ..
1.759314     1
0.996786     1
1.116141     1
0.901607     1
1.612425     1
Name: duration, Length: 803, dtype: int64
[307667b2-cc0e-4cf3-8528-ba4c86a1ba83]                                          1
[e1fa7957-1818-45b8-a87b-8736733af40e]                                          1
[25584c3c-f6ca-4f8e-a12d-a3f87255a72c]                                          1
[b84df46a-fe76-4fb4-bf98-7b8e3f724ba4]                                          1
[52ed4476-a3e9-430c-970c-29580ace28ae]                                          1
                                                                               ..
[e60dcd1f-125d-45f2-9b48-917199da567e]                                          1
[0bd795ad-3cb8-4179-8481-81c0e9b00c03]                                          1
[a8eeb2c2-b9b5-4e29-bf49-49330a449921]                                          1
[7b4e62a3-2247-40d0-a60d-f88b02fc73e1]                                          1
[22f76976-9167-4bc4-9ccb-66560d849b4a, bc92bd89-314f-4617-8385-9c3753f1c56e]    1
Name: related_events, Length: 884, dtype: int64
{'recipient': {'id': 3166, 'name': 'Marco Verratti'}, 'length': 12.509596, 'angle': -2.566893, 'height': {'id': 1, 'name': 'Ground Pass'}, 'end_location': [49.5, 33.2], 'type': {'id': 65, 'name': 'Kick Off'}, 'body_part': {'id': 40, 'name': 'Right Foot'}}                                        1
{'recipient': {'id': 3166, 'name': 'Marco Verratti'}, 'length': 10.53945, 'angle': 2.1535358, 'height': {'id': 1, 'name': 'Ground Pass'}, 'end_location': [68.0, 16.0], 'body_part': {'id': 38, 'name': 'Left Foot'}}                                                                                  1
{'recipient': {'id': 3166, 'name': 'Marco Verratti'}, 'length': 12.657014, 'angle': -1.4758446, 'height': {'id': 1, 'name': 'Ground Pass'}, 'end_location': [56.1, 28.3], 'body_part': {'id': 40, 'name': 'Right Foot'}}                                                                               1
{'recipient': {'id': 6954, 'name': 'Giorgio Chiellini'}, 'length': 13.649908, 'angle': -0.6816058, 'height': {'id': 1, 'name': 'Ground Pass'}, 'end_location': [67.5, 18.6], 'body_part': {'id': 40, 'name': 'Right Foot'}}                                                                            1
{'recipient': {'id': 7156, 'name': 'Federico Chiesa'}, 'length': 13.225733, 'angle': 0.35523087, 'height': {'id': 1, 'name': 'Ground Pass'}, 'end_location': [82.7, 22.0], 'body_part': {'id': 38, 'name': 'Left Foot'}}                                                                               1
                                                                                                                                                                                                                                                                                                      ..
{'recipient': {'id': 7024, 'name': 'Jorge Luiz Frello Filho'}, 'length': 7.5, 'angle': 1.5707964, 'height': {'id': 1, 'name': 'Ground Pass'}, 'end_location': [35.2, 42.7], 'body_part': {'id': 40, 'name': 'Right Foot'}}                                                                             1
{'recipient': {'id': 7788, 'name': 'Ciro Immobile'}, 'length': 14.759743, 'angle': -0.47879797, 'height': {'id': 1, 'name': 'Ground Pass'}, 'end_location': [48.3, 35.9], 'body_part': {'id': 40, 'name': 'Right Foot'}}                                                                               1
{'recipient': {'id': 7024, 'name': 'Jorge Luiz Frello Filho'}, 'length': 12.124768, 'angle': 2.7074568, 'height': {'id': 1, 'name': 'Ground Pass'}, 'end_location': [37.3, 41.0], 'body_part': {'id': 40, 'name': 'Right Foot'}}                                                                       1
{'recipient': {'id': 7037, 'name': 'Lorenzo Insigne'}, 'length': 50.66162, 'angle': -0.6142835, 'height': {'id': 3, 'name': 'High Pass'}, 'end_location': [93.5, 10.8], 'body_part': {'id': 40, 'name': 'Right Foot'}}                                                                                 1
{'recipient': {'id': 6993, 'name': 'Bryan Cristante'}, 'length': 12.660568, 'angle': -0.6340227, 'height': {'id': 2, 'name': 'Low Pass'}, 'end_location': [29.7, 0.8], 'outcome': {'id': 75, 'name': 'Out'}, 'type': {'id': 66, 'name': 'Recovery'}, 'body_part': {'id': 40, 'name': 'Right Foot'}}    1
Name: pass, Length: 885, dtype: int64
3795506    885
Name: match_id, dtype: int64
914    856
768     29
Name: possession_team_id, dtype: int64
7173     130
6954     119
3166     119
7024     102
11514     87
4355      70
7037      64
7036      34
8181      33
6993      31
7156      22
7131      21
7788      20
7777      12
7038       8
6964       8
7471       5
Name: player_id, dtype: int64
True    136
Name: under_pressure, dtype: int64
True    37
Name: off_camera, dtype: int64
True    4
Name: counterpress, dtype: int64

It seems the most useful columns will be:
location i.e. the xy position of the pass start
player i.e. the player committing the pass, and
pass i.e. a dictionary containing the recipient, xy position of the recipient, and data about the style of pass.

I'm basing this off the mplsoccer docs that describes how to make pass plots using arrows here: https://mplsoccer.readthedocs.io/en/latest/gallery/pitch_plots/plot_arrows.html

Time to make a much smaller DataFrame

In [13]:
slimdf = ITApasses[['period','location','player','pass']].copy()
slimdf.reset_index(drop=True,inplace=True)
slimdf

,period,location,player,pass
0,1,"[60.0, 40.0]",Ciro Immobile,"{'recipient': {'id': 3166, 'name': 'Marco Verr..."
1,1,"[48.0, 35.7]",Marco Verratti,"{'recipient': {'id': 11514, 'name': 'Giovanni ..."
2,1,"[39.2, 68.4]",Giovanni Di Lorenzo,"{'recipient': {'id': 7173, 'name': 'Leonardo B..."
3,1,"[25.3, 46.4]",Leonardo Bonucci,"{'recipient': {'id': 6954, 'name': 'Giorgio Ch..."
4,1,"[23.9, 18.6]",Giorgio Chiellini,"{'recipient': {'id': 7173, 'name': 'Leonardo B..."
...,...,...,...,...
880,4,"[74.9, 19.1]",Bryan Cristante,"{'recipient': {'id': 7024, 'name': 'Jorge Luiz..."
881,4,"[78.7, 39.1]",Jorge Luiz Frello Filho,"{'recipient': {'id': 11514, 'name': 'Giovanni ..."
882,4,"[96.4, 69.2]",Giovanni Di Lorenzo,"{'recipient': {'id': 7131, 'name': 'Domenico B..."
883,4,"[96.1, 75.7]",Domenico Berardi,"{'recipient': {'id': 7471, 'name': 'Andrea Bel..."
884,4,"[19.5, 8.3]",Alessandro Florenzi,"{'recipient': {'id': 6993, 'name': 'Bryan Cris..."

I want to get a DataFrame for each player that has columns, x_start, y_start, x_end, y_end, pass success?, pass type

In [14]:
slimdf['location'].hasnans

False

In [15]:
pass_start = pd.DataFrame(slimdf['location'].to_list(),columns=['x_start','y_start'])
pass_start.reset_index(drop=True)

     x_start  y_start
0       60.0     40.0
1       48.0     35.7
2       39.2     68.4
3       25.3     46.4
4       23.9     18.6
..       ...      ...
880     74.9     19.1
881     78.7     39.1
882     96.4     69.2
883     96.1     75.7
884     19.5      8.3

[885 rows x 2 columns]

In [16]:
slimdf = slimdf.join(pass_start)

In [17]:
slimdf

,period,location,player,pass,x_start,y_start
0,1,"[60.0, 40.0]",Ciro Immobile,"{'recipient': {'id': 3166, 'name': 'Marco Verr...",60.0,40.0
1,1,"[48.0, 35.7]",Marco Verratti,"{'recipient': {'id': 11514, 'name': 'Giovanni ...",48.0,35.7
2,1,"[39.2, 68.4]",Giovanni Di Lorenzo,"{'recipient': {'id': 7173, 'name': 'Leonardo B...",39.2,68.4
3,1,"[25.3, 46.4]",Leonardo Bonucci,"{'recipient': {'id': 6954, 'name': 'Giorgio Ch...",25.3,46.4
4,1,"[23.9, 18.6]",Giorgio Chiellini,"{'recipient': {'id': 7173, 'name': 'Leonardo B...",23.9,18.6
...,...,...,...,...,...,...
880,4,"[74.9, 19.1]",Bryan Cristante,"{'recipient': {'id': 7024, 'name': 'Jorge Luiz...",74.9,19.1
881,4,"[78.7, 39.1]",Jorge Luiz Frello Filho,"{'recipient': {'id': 11514, 'name': 'Giovanni ...",78.7,39.1
882,4,"[96.4, 69.2]",Giovanni Di Lorenzo,"{'recipient': {'id': 7131, 'name': 'Domenico B...",96.4,69.2
883,4,"[96.1, 75.7]",Domenico Berardi,"{'recipient': {'id': 7471, 'name': 'Andrea Bel...",96.1,75.7
884,4,"[19.5, 8.3]",Alessandro Florenzi,"{'recipient': {'id': 6993, 'name': 'Bryan Cris...",19.5,8.3

In [18]:
print(slimdf['pass'][0].keys())
print(slimdf['pass'][0].get('recipient')['name'])
print(slimdf['pass'][0].get('end_location'))

dict_keys(['recipient', 'length', 'angle', 'height', 'end_location', 'type', 'body_part'])
Marco Verratti
[49.5, 33.2]

In [19]:
#Had a series of dicts, tried to turn it into a dataframe via https://stackoverflow.com/questions/29681906/python-pandas-dataframe-from-series-of-dict
pass_col_df = slimdf['pass'].apply(pd.Series)
pass_col_df

,recipient,length,angle,height,end_location,type,body_part,outcome,outswinging,technique,aerial_won,through_ball,switch,cross,assisted_shot_id,shot_assist,no_touch,miscommunication,inswinging
0,"{'id': 3166, 'name': 'Marco Verratti'}",12.509596,-2.566893,"{'id': 1, 'name': 'Ground Pass'}","[49.5, 33.2]","{'id': 65, 'name': 'Kick Off'}","{'id': 40, 'name': 'Right Foot'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'id': 11514, 'name': 'Giovanni Di Lorenzo'}",36.138622,1.822486,"{'id': 1, 'name': 'Ground Pass'}","[39.0, 70.7]",NaN,"{'id': 40, 'name': 'Right Foot'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'id': 7173, 'name': 'Leonardo Bonucci'}",25.988073,-2.153463,"{'id': 1, 'name': 'Ground Pass'}","[24.9, 46.7]",NaN,"{'id': 40, 'name': 'Right Foot'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'id': 6954, 'name': 'Giorgio Chiellini'}",28.714108,-1.602145,"{'id': 1, 'name': 'Ground Pass'}","[24.4, 17.7]",NaN,"{'id': 40, 'name': 'Right Foot'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'id': 7173, 'name': 'Leonardo Bonucci'}",26.580069,1.856848,"{'id': 1, 'name': 'Ground Pass'}","[16.4, 44.1]",NaN,"{'id': 38, 'name': 'Left Foot'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,"{'id': 7024, 'name': 'Jorge Luiz Frello Filho'}",13.388055,1.329441,"{'id': 1, 'name': 'Ground Pass'}","[78.1, 32.1]",NaN,"{'id': 40, 'name': 'Right Foot'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,"{'id': 11514, 'name': 'Giovanni Di Lorenzo'}",21.954498,1.689502,"{'id': 1, 'name': 'Ground Pass'}","[76.1, 60.9]",NaN,"{'id': 40, 'name': 'Right Foot'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,"{'id': 7131, 'name': 'Domenico Berardi'}",9.664885,1.074753,"{'id': 1, 'name': 'Ground Pass'}","[101.0, 77.7]",NaN,"{'id': 40, 'name': 'Right Foot'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
883,"{'id': 7471, 'name': 'Andrea Belotti'}",51.572280,-1.088937,"{'id': 3, 'name': 'High Pass'}","[120.0, 30.0]",NaN,"{'id': 38, 'name': 'Left Foot'}","{'id': 75, 'name': 'Out'}",NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN
884,"{'id': 6993, 'name': 'Bryan Cristante'}",12.660568,-0.634023,"{'id': 2, 'name': 'Low Pass'}","[29.7, 0.8]","{'id': 66, 'name': 'Recovery'}","{'id': 40, 'name': 'Right Foot'}","{'id': 75, 'name': 'Out'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It was at this moment. That I said what the fuck. I had no idea that the pass Series was gonna be a 19 column DataFrame itself

In [20]:
for each in list(pass_col_df.columns):
    print(pass_col_df[each].value_counts())

{'id': 3166, 'name': 'Marco Verratti'}                 121
{'id': 7173, 'name': 'Leonardo Bonucci'}               118
{'id': 7024, 'name': 'Jorge Luiz Frello Filho'}        101
{'id': 6954, 'name': 'Giorgio Chiellini'}               96
{'id': 7037, 'name': 'Lorenzo Insigne'}                 75
{'id': 11514, 'name': 'Giovanni Di Lorenzo'}            65
{'id': 4355, 'name': 'Emerson Palmieri dos Santos'}     57
{'id': 8181, 'name': 'Nicolò Barella'}                  42
{'id': 6993, 'name': 'Bryan Cristante'}                 38
{'id': 7788, 'name': 'Ciro Immobile'}                   36
{'id': 7156, 'name': 'Federico Chiesa'}                 31
{'id': 7131, 'name': 'Domenico Berardi'}                29
{'id': 7036, 'name': 'Gianluigi Donnarumma'}            18
{'id': 7777, 'name': 'Federico Bernardeschi'}           15
{'id': 7038, 'name': 'Manuel Locatelli'}                15
{'id': 7471, 'name': 'Andrea Belotti'}                  13
{'id': 6964, 'name': 'Alessandro Florenzi'}              6
Name: recipient, dtype: int64
11.104053    2
12.180312    2
5.044799     2
12.182775    2
12.107849    2
            ..
12.124768    1
50.661620    1
7.700000     1
9.272001     1
12.660568    1
Name: length, Length: 863, dtype: int64
 1.570796    8
-1.570796    5
 0.000000    4
 0.463648    3
 3.141593    3
            ..
-1.590794    1
-0.072904    1
-0.478798    1
 2.707457    1
-0.634023    1
Name: angle, Length: 857, dtype: int64
{'id': 1, 'name': 'Ground Pass'}    695
{'id': 2, 'name': 'Low Pass'}        96
{'id': 3, 'name': 'High Pass'}       94
Name: height, dtype: int64
[85.0, 4.6]     2
[69.9, 1.6]     2
[76.9, 77.5]    2
[78.7, 24.3]    2
[49.5, 33.2]    1
               ..
[35.2, 42.7]    1
[48.3, 35.9]    1
[37.3, 41.0]    1
[93.5, 10.8]    1
[29.7, 0.8]     1
Name: end_location, Length: 881, dtype: int64
{'id': 66, 'name': 'Recovery'}        48
{'id': 67, 'name': 'Throw-in'}        33
{'id': 62, 'name': 'Free Kick'}       11
{'id': 64, 'name': 'Interception'}    10
{'id': 63, 'name': 'Goal Kick'}        9
{'id': 65, 'name': 'Kick Off'}         3
{'id': 61, 'name': 'Corner'}           3
Name: type, dtype: int64
{'id': 40, 'name': 'Right Foot'}    586
{'id': 38, 'name': 'Left Foot'}     209
{'id': 37, 'name': 'Head'}           22
{'id': 69, 'name': 'Keeper Arm'}     11
{'id': 70, 'name': 'Other'}           5
{'id': 106, 'name': 'No Touch'}       1
Name: body_part, dtype: int64
{'id': 9, 'name': 'Incomplete'}       83
{'id': 75, 'name': 'Out'}             11
{'id': 76, 'name': 'Pass Offside'}     5
{'id': 77, 'name': 'Unknown'}          5
Name: outcome, dtype: int64
True    2
Name: outswinging, dtype: int64
{'id': 108, 'name': 'Through Ball'}    5
{'id': 105, 'name': 'Outswinging'}     2
{'id': 104, 'name': 'Inswinging'}      1
Name: technique, dtype: int64
True    18
Name: aerial_won, dtype: int64
True    5
Name: through_ball, dtype: int64
True    13
Name: switch, dtype: int64
True    15
Name: cross, dtype: int64
86fd78d6-b940-4466-b784-63c027a314da    1
89226b23-db53-4e2e-865e-4dda2d1dbaa9    1
40b40285-f562-46ab-ba45-100aa4094c71    1
b414bbbc-2594-456f-a9a9-861836d6685a    1
d9ebf773-edd5-4626-9708-3ba8fbc7d2c4    1
ef5399e2-0749-43cf-be85-abbb865c01fc    1
1ff8f1f1-a983-4ca2-9bd6-94e2bd60b5fd    1
49ce38ff-305d-4f69-9ca9-8cee1bd23851    1
0da3415e-0717-4c37-a50f-a9422549e108    1
63245100-891a-4e23-ae92-082308a37710    1
cca343ef-7d94-4ab6-86d6-be31f8ce702c    1
Name: assisted_shot_id, dtype: int64
True    11
Name: shot_assist, dtype: int64
True    1
Name: no_touch, dtype: int64
True    1
Name: miscommunication, dtype: int64
True    1
Name: inswinging, dtype: int64

In [21]:
pass_col_df.keys()

Index(['recipient', 'length', 'angle', 'height', 'end_location', 'type',
       'body_part', 'outcome', 'outswinging', 'technique', 'aerial_won',
       'through_ball', 'switch', 'cross', 'assisted_shot_id', 'shot_assist',
       'no_touch', 'miscommunication', 'inswinging'],
      dtype='object')

In [22]:
pass_col_slimmed_df = pass_col_df[['recipient','end_location','type','outcome']].copy()
pass_col_slimmed_df

,recipient,end_location,type,outcome
0,"{'id': 3166, 'name': 'Marco Verratti'}","[49.5, 33.2]","{'id': 65, 'name': 'Kick Off'}",NaN
1,"{'id': 11514, 'name': 'Giovanni Di Lorenzo'}","[39.0, 70.7]",NaN,NaN
2,"{'id': 7173, 'name': 'Leonardo Bonucci'}","[24.9, 46.7]",NaN,NaN
3,"{'id': 6954, 'name': 'Giorgio Chiellini'}","[24.4, 17.7]",NaN,NaN
4,"{'id': 7173, 'name': 'Leonardo Bonucci'}","[16.4, 44.1]",NaN,NaN
...,...,...,...,...
880,"{'id': 7024, 'name': 'Jorge Luiz Frello Filho'}","[78.1, 32.1]",NaN,NaN
881,"{'id': 11514, 'name': 'Giovanni Di Lorenzo'}","[76.1, 60.9]",NaN,NaN
882,"{'id': 7131, 'name': 'Domenico Berardi'}","[101.0, 77.7]",NaN,NaN
883,"{'id': 7471, 'name': 'Andrea Belotti'}","[120.0, 30.0]",NaN,"{'id': 75, 'name': 'Out'}"
884,"{'id': 6993, 'name': 'Bryan Cristante'}","[29.7, 0.8]","{'id': 66, 'name': 'Recovery'}","{'id': 75, 'name': 'Out'}"

In [23]:
pass_col_slimmed_df['type']
passtypedf = pass_col_slimmed_df['type'].apply(pd.Series)
passtypedf.rename(columns={'name':'pass_type'},inplace=True)
passtypedf = passtypedf['pass_type'].copy()
passtypedf

0      Kick Off
1           NaN
2           NaN
3           NaN
4           NaN
         ...
880         NaN
881         NaN
882         NaN
883         NaN
884    Recovery
Name: pass_type, Length: 885, dtype: object

In [24]:
pass_col_slimmed_df['recipient']
recip_name_df = pass_col_slimmed_df['recipient'].apply(pd.Series)
recip_name_df.rename(columns={'name':'recipient_name'},inplace=True)
recip_name_df = recip_name_df['recipient_name'].copy()
recip_name_df

0               Marco Verratti
1          Giovanni Di Lorenzo
2             Leonardo Bonucci
3            Giorgio Chiellini
4             Leonardo Bonucci
                ...
880    Jorge Luiz Frello Filho
881        Giovanni Di Lorenzo
882           Domenico Berardi
883             Andrea Belotti
884            Bryan Cristante
Name: recipient_name, Length: 885, dtype: object

In [25]:
pass_col_slimmed_df['outcome']
outcome_df = pass_col_slimmed_df['outcome'].apply(pd.Series)
outcome_df.rename(columns={'name':'pass_outcome'},inplace=True)
outcome_df = outcome_df['pass_outcome'].copy()
outcome_df

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
880    NaN
881    NaN
882    NaN
883    Out
884    Out
Name: pass_outcome, Length: 885, dtype: object

In [26]:
pass_col_slimmed_df = pass_col_slimmed_df.join([recip_name_df,passtypedf,outcome_df])
pass_col_slimmed_df

,recipient,end_location,type,outcome,recipient_name,pass_type,pass_outcome
0,"{'id': 3166, 'name': 'Marco Verratti'}","[49.5, 33.2]","{'id': 65, 'name': 'Kick Off'}",NaN,Marco Verratti,Kick Off,NaN
1,"{'id': 11514, 'name': 'Giovanni Di Lorenzo'}","[39.0, 70.7]",NaN,NaN,Giovanni Di Lorenzo,NaN,NaN
2,"{'id': 7173, 'name': 'Leonardo Bonucci'}","[24.9, 46.7]",NaN,NaN,Leonardo Bonucci,NaN,NaN
3,"{'id': 6954, 'name': 'Giorgio Chiellini'}","[24.4, 17.7]",NaN,NaN,Giorgio Chiellini,NaN,NaN
4,"{'id': 7173, 'name': 'Leonardo Bonucci'}","[16.4, 44.1]",NaN,NaN,Leonardo Bonucci,NaN,NaN
...,...,...,...,...,...,...,...
880,"{'id': 7024, 'name': 'Jorge Luiz Frello Filho'}","[78.1, 32.1]",NaN,NaN,Jorge Luiz Frello Filho,NaN,NaN
881,"{'id': 11514, 'name': 'Giovanni Di Lorenzo'}","[76.1, 60.9]",NaN,NaN,Giovanni Di Lorenzo,NaN,NaN
882,"{'id': 7131, 'name': 'Domenico Berardi'}","[101.0, 77.7]",NaN,NaN,Domenico Berardi,NaN,NaN
883,"{'id': 7471, 'name': 'Andrea Belotti'}","[120.0, 30.0]",NaN,"{'id': 75, 'name': 'Out'}",Andrea Belotti,NaN,Out
884,"{'id': 6993, 'name': 'Bryan Cristante'}","[29.7, 0.8]","{'id': 66, 'name': 'Recovery'}","{'id': 75, 'name': 'Out'}",Bryan Cristante,Recovery,Out

In [27]:
pass_end = pd.DataFrame(pass_col_slimmed_df['end_location'].to_list(), columns=['x_end', 'y_end'])
pass_col_slimmed_df = pass_col_slimmed_df.join(pass_end)
pass_col_slimmed_df

,recipient,end_location,type,outcome,recipient_name,pass_type,pass_outcome,x_end,y_end
0,"{'id': 3166, 'name': 'Marco Verratti'}","[49.5, 33.2]","{'id': 65, 'name': 'Kick Off'}",NaN,Marco Verratti,Kick Off,NaN,49.5,33.2
1,"{'id': 11514, 'name': 'Giovanni Di Lorenzo'}","[39.0, 70.7]",NaN,NaN,Giovanni Di Lorenzo,NaN,NaN,39.0,70.7
2,"{'id': 7173, 'name': 'Leonardo Bonucci'}","[24.9, 46.7]",NaN,NaN,Leonardo Bonucci,NaN,NaN,24.9,46.7
3,"{'id': 6954, 'name': 'Giorgio Chiellini'}","[24.4, 17.7]",NaN,NaN,Giorgio Chiellini,NaN,NaN,24.4,17.7
4,"{'id': 7173, 'name': 'Leonardo Bonucci'}","[16.4, 44.1]",NaN,NaN,Leonardo Bonucci,NaN,NaN,16.4,44.1
...,...,...,...,...,...,...,...,...,...
880,"{'id': 7024, 'name': 'Jorge Luiz Frello Filho'}","[78.1, 32.1]",NaN,NaN,Jorge Luiz Frello Filho,NaN,NaN,78.1,32.1
881,"{'id': 11514, 'name': 'Giovanni Di Lorenzo'}","[76.1, 60.9]",NaN,NaN,Giovanni Di Lorenzo,NaN,NaN,76.1,60.9
882,"{'id': 7131, 'name': 'Domenico Berardi'}","[101.0, 77.7]",NaN,NaN,Domenico Berardi,NaN,NaN,101.0,77.7
883,"{'id': 7471, 'name': 'Andrea Belotti'}","[120.0, 30.0]",NaN,"{'id': 75, 'name': 'Out'}",Andrea Belotti,NaN,Out,120.0,30.0
884,"{'id': 6993, 'name': 'Bryan Cristante'}","[29.7, 0.8]","{'id': 66, 'name': 'Recovery'}","{'id': 75, 'name': 'Out'}",Bryan Cristante,Recovery,Out,29.7,0.8

In [28]:
pass_info_df = pass_col_slimmed_df[['recipient_name','x_end','y_end','pass_type','pass_outcome']]
pass_info_df

              recipient_name  x_end  y_end pass_type pass_outcome
0             Marco Verratti   49.5   33.2  Kick Off          NaN
1        Giovanni Di Lorenzo   39.0   70.7       NaN          NaN
2           Leonardo Bonucci   24.9   46.7       NaN          NaN
3          Giorgio Chiellini   24.4   17.7       NaN          NaN
4           Leonardo Bonucci   16.4   44.1       NaN          NaN
..                       ...    ...    ...       ...          ...
880  Jorge Luiz Frello Filho   78.1   32.1       NaN          NaN
881      Giovanni Di Lorenzo   76.1   60.9       NaN          NaN
882         Domenico Berardi  101.0   77.7       NaN          NaN
883           Andrea Belotti  120.0   30.0       NaN          Out
884          Bryan Cristante   29.7    0.8  Recovery          Out

[885 rows x 5 columns]

In [29]:
final_df = slimdf.join(pass_info_df)

In [30]:
final_df.drop(['location','pass'],axis=1,inplace=True)

In [31]:
final_df

,period,player,x_start,y_start,recipient_name,x_end,y_end,pass_type,pass_outcome
0,1,Ciro Immobile,60.0,40.0,Marco Verratti,49.5,33.2,Kick Off,NaN
1,1,Marco Verratti,48.0,35.7,Giovanni Di Lorenzo,39.0,70.7,NaN,NaN
2,1,Giovanni Di Lorenzo,39.2,68.4,Leonardo Bonucci,24.9,46.7,NaN,NaN
3,1,Leonardo Bonucci,25.3,46.4,Giorgio Chiellini,24.4,17.7,NaN,NaN
4,1,Giorgio Chiellini,23.9,18.6,Leonardo Bonucci,16.4,44.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...
880,4,Bryan Cristante,74.9,19.1,Jorge Luiz Frello Filho,78.1,32.1,NaN,NaN
881,4,Jorge Luiz Frello Filho,78.7,39.1,Giovanni Di Lorenzo,76.1,60.9,NaN,NaN
882,4,Giovanni Di Lorenzo,96.4,69.2,Domenico Berardi,101.0,77.7,NaN,NaN
883,4,Domenico Berardi,96.1,75.7,Andrea Belotti,120.0,30.0,NaN,Out
884,4,Alessandro Florenzi,19.5,8.3,Bryan Cristante,29.7,0.8,Recovery,Out

In [32]:
import os
os.makedirs('/Users/fsa168/Desktop/PythonPractice/SoccerProj1',exist_ok=True)
final_df.to_csv('/Users/fsa168/Desktop/PythonPractice/SoccerProj1/final_df2.csv')

Finally the dataframe of all players pass data has been created.

For simplicity, I wrote to CSV so I can use it in another jupyter notebook.